<header class="wrapper row gap-1">
    <img src="assets/logo.png" alt="Logo" />
    <h1>Genshin Impact Randomizer</h1>
</header>

<p-sidebar class="sidebar" [(visible)]="sidebarVisible" position="right">
    <h3>Menu</h3>
    <div class="column gap-1">
        <div class="row">
            <a routerLink="" class="p-button font-bold"> Home </a>
        </div>
        <div class="row" pTooltip="Create profile">
            <a routerLink="profile" class="p-button font-bold">
                Profile Manager
            </a>
        </div>
        <div class="row">
            <a routerLink="/team_randomizer" class="p-button font-bold">
                Team Randomizer
            </a>
        </div>
        <div class="row">
            <a routerLink="/element_restriction" class="p-button font-bold">
                Element Restriction
            </a>
        </div>
        <div class="row">
            <a routerLink="/weekly_boss" class="p-button font-bold">
                Weekly Boss Randomizer
            </a>
        </div>
        <div class="row">
            <a routerLink="/open_boss" class="p-button font-bold">
                Open World Boss Randomizer
            </a>
        </div>
    </div>
</p-sidebar>
<p-button
    class="sidebar-btn"
    (onClick)="toggleSidebar()"
    icon="pi pi-arrow-left"
></p-button>

<p-tabView class="topbar" (onChange)="navigateTo($event.index)">
    <p-tabPanel header="Home" class="row" value="/profile"> </p-tabPanel>
    <p-tabPanel header="Profile Manager" class="row" value="/profile">
    </p-tabPanel>
    <p-tabPanel header="Team Randomizer" class="row"> </p-tabPanel>
    <p-tabPanel header="Element Restriction" class="row"> </p-tabPanel>
    <p-tabPanel header="Weekly Boss Randomizer" class="row"> </p-tabPanel>
    <p-tabPanel header="Open World Boss Randomizer" class="row"> </p-tabPanel>
</p-tabView>
