.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder_wrapper {
    display: flex;
    justify-content: center;
    margin: 30px 20px;

    @media(max-width:600px){
        h2{ font-size: 1.2rem;}
    }
    @media(max-width:500px){
        h2{ font-size: 1rem;}
    }
}

.generate_report {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    gap: 2rem;

    div {
        display: flex;
        justify-content: center;
        width: 200px;
    }

    @media(max-width:600px){
        width: 100%;
        padding-inline: 10px;
    }
}

/* Charts */
.charts_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}

.chart_type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    h2 {
        padding-block: 2rem 1.5rem;
        text-decoration: underline gray 2px;
    }

    div {
        display: flex;
        width: 100%;
        border: 1px solid black;
        p-chart {
            display: flex;
            justify-content: center;
            width: 100%;
            div {
                width: 100% !important;
            }
        }

        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }
}

.chart_div {
    flex-direction: column;
    align-items: center;

    div {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
}
