:host {
    display: block;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;

    padding-inline: 50px;

    h2 {
        font-weight: 800;
        font-style: oblique;
    }
}

/* Profile List */
.profiles_list_wrapper {
    width: 100%;

    div {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid beige;

            div {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }

    img {
        width: 100px;
    }
}

.comands_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.overview_board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.character_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 10rem;
    height: 13rem;
    box-sizing: border-box;
    border: 2px solid rgb(53, 50, 48);
    border-radius: var(--border-radius);
    overflow: hidden;

    img {
        filter: grayscale(1);
        width: 100%;
        min-height: 100px;
        height: auto;
        object-fit: contain;
    }

    h4 {
        min-height: 2rem;
        font-size: 1.2rem;
        text-align: center;
        margin: 0.5rem 0;
    }
}

.selected-card {
    border-radius: var(--border-radius);
    border: 2px solid rgb(5, 215, 36); /* Highlight selected card with a border */

    img {
        filter: grayscale(0);
    }
}

.character_card:hover {
    img {
        filter: grayscale(0);
    }
}

/* Upper Banner */
.upper_banner {
    position: sticky;
    top: 0px;
    z-index: 100;

    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.95;

    border-bottom: 1px solid beige;
}

/* Edit Panel*/
.edit_panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;

    input {
        height: 2rem;
        width: 180px;
        font-size: 1.2rem;
        background-color: rgba(209, 209, 209, 0.523);
        border: 2px solid transparent;
        border-radius: 10px;
        padding-left: 15px;
    }

    label,
    p-button {
        margin: 10px;
    }
}

/* Markers */

.markers_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    img {
        width: 25px;
        aspect-ratio: 1;
    }
}

.elements_icons {
    max-width: 250px;
}
