:host {
    display: block;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-inline: 50px;

    h2 {
        font-weight: 800;
        font-style: oblique;
    }

    @media (max-width: 800px) {
        padding-inline: 20px;

        h2{
            font-size: 1.2rem;
        }
    }
}

/* Profile List */
.profiles_list_wrapper {
    width: 100%;

    div {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1rem;

        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid beige;

            div {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            @media (max-width: 600px) {
                gap: 0.5rem;
                flex-direction: column;
            }
        }
    }

    img {
        width: 100px;

        @media (max-width: 800px) {
            width: 80px;
        }
        @media (max-width: 600px) {
            width: 60px;
        }
    }
}

.comands_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.overview_board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Upper Banner */
.upper_banner {
    position: sticky;
    top: 0px;
    z-index: 100;

    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.95;

    border-bottom: 1px solid beige;

    @media (max-width: 1000px) {
        padding-inline: 0px;
    }
}

/* Edit Panel*/
.edit_panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;

    @media (max-width: 600px) {
        flex-direction: column;
        gap: 0.5rem;
    }
}

.name_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    input {
        height: 2rem;
        width: 180px;
        font-size: 1.2rem;
        background-color: rgba(209, 209, 209, 0.523);
        border: 2px solid transparent;
        border-radius: 10px;
        padding-left: 15px;
    }

    label,
    p-button {
        margin: 10px;
    }

    @media (max-width: 1000px) {
        input {
            width: 150px;
            padding-left: 5px;
        }
    }

    @media (max-width: 600px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.traveler_selector_section {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 0.5rem;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    p-dropdown.p-element {
        width: 100%;
        display: flex;
        flex-direction: column;

        .p-component.p-inputwrapper {
            width: 100%;
        }
    }

    @media (max-width: 1000px) {
        width: 150px;
    }

    @media (max-width: 600px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.upper_banner_btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    width: 150px;

    @media (max-width: 600px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
/* Markers */

.markers_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    img {
        width: 25px;
        aspect-ratio: 1;
    }

    @media (max-width: 800px) {
        gap: 1rem;
    }

    @media (max-width: 600px) {
        display: none;
    }
}

.elements_icons {
    max-width: 250px;
}

/* Card Classes */

.character_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 10rem;
    height: clamp(13rem, 15rem, 18rem);
    box-sizing: border-box;
    border: 2px solid rgb(53, 50, 48);
    border-radius: var(--border-radius);
    overflow: hidden;

    img {
        filter: grayscale(1);
        width: 100%;
        min-height: 100px;
        height: auto;
        object-fit: contain;
    }

    h4 {
        font-size: 1.2rem;
        text-align: center;
        margin: 0.5rem 0;
    }

    @media (max-width:800px) {
        width: 8rem;
        height: 12rem;
        
    }
    @media (max-width:600px) {
        width: 7rem;
        height: 11rem;
        
    }
}

.p-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-card {
    border-radius: var(--border-radius);
    border: 2px solid rgb(5, 215, 36); /* Highlight selected card with a border */

    img {
        filter: grayscale(0);
    }
}

.character_card:hover {
    img {
        filter: grayscale(0);
    }
}

/* Safety question Wrapper */
.safety_question_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    div {
        display: flex;
        gap: 0.5rem;
    }
}
