<div class="wrapper gap-2">
    <!-- List of Profiles -->
    <div *ngIf="currentSection === 'list'" class="profiles_list_wrapper">
        <div>
            <h2>Profile List</h2>
            <p-button
                (click)="createProfile()"
                label="Create New Profile"
                [text]="true"
                [raised]="true"
                icon="pi pi-user-plus"
            />
        </div>

        <ul>
            <li *ngFor="let profile of profiles" class="row align-center gap-1">
                <div>
                    <i
                        *ngIf="!profile.traveler"
                        class="pi pi-user"
                        style="font-size: 2.5rem"
                    ></i>

                    <img
                        *ngIf="profile.traveler"
                        src="{{ profile.traveler.image_src }}"
                    />
                    <h3 class="gap-05">{{ profile.userName }}</h3>
                </div>

                <div>
                    <p-button
                        label="Edit"
                        [text]="true"
                        severity="secondary"
                        (click)="editProfile(profile)"
                        icon="pi pi-user-edit"
                        class="gap-05"
                        [raised]="true"
                    />
                    <p-button
                        label="Delete"
                        [text]="true"
                        severity="danger"
                        (click)="confirmDeleteProfile(profile)"
                        icon="pi pi-trash"
                        iconPos="right"
                        class="gap-05"
                        [raised]="true"
                    />
                </div>
            </li>
        </ul>
    </div>

    <!-- Create / Modify / Delete Profile-->
    <div *ngIf="currentSection === 'form'">
        <h2>{{ isEditing ? "Edit Profile" : "Create Profile" }}</h2>
        <form #profileForm="ngForm" (ngSubmit)="saveProfile()">
            <div class="upper_banner">
                <div class="edit_panel">
                    <div>
                        <label for="name">Name:</label>
                        <input
                            [required]="true"
                            type="text"
                            id="name"
                            [(ngModel)]="currentProfile.userName"
                            name="name"
                        />
                    </div>
                    <div class="card flex justify-content-center">
                        <label>Traveler: </label>
                        <p-toggleButton
                            name="traveler"
                            [(ngModel)]="isTravelerMale"
                            onLabel="Male"
                            offLabel="Female"
                        />
                    </div>
                    <div class="upper_banner_btn">
                        <p-button
                            label="Save"
                            [text]="true"
                            severity="success"
                            type="submit"
                            icon="pi pi-user-edit"
                            [raised]="true"
                            [disabled]="profileForm.invalid"
                        />
                        <p-button
                            label="Cancel"
                            [text]="true"
                            severity="secondary"
                            (click)="cancel()"
                            icon="pi pi-undo"
                            [raised]="true"
                        />
                    </div>
                </div>

                <!-- Character Selection -->
                <!-- Markers -->
                <div
                    class="markers_wrapper gap-2"
                    *ngIf="nrCharactersSelected !== 0"
                >
                    <div>
                        <img
                            src="assets/favicon.webp"
                            alt="icon characters amount"
                        />
                        <span> {{ nrCharactersSelected }} selected </span>
                    </div>
                    <div>
                        <img src="assets/icons/anemo.svg" alt="" />
                        <span> {{ nrSelectedAnemo }} </span>
                    </div>
                    <div>
                        <img src="assets/icons/cryo.svg" alt="" />
                        <span> {{ nrSelectedCryo }} </span>
                    </div>
                    <div>
                        <img src="assets/icons/dendro.svg" alt="" />
                        <span> {{ nrSelectedDendro }} </span>
                    </div>
                    <div>
                        <img src="assets/icons/electro.svg" alt="" />
                        <span> {{ nrSelectedElectro }} </span>
                    </div>
                    <div>
                        <img src="assets/icons/geo.svg" alt="" />
                        <span> {{ nrSelectedGeo }} </span>
                    </div>
                    <div>
                        <img src="assets/icons/hydro.svg" alt="" />
                        <span> {{ nrSelectedHydro }} </span>
                    </div>
                    <div>
                        <img src="assets/icons/pyro.svg" alt="" />
                        <span> {{ nrSelectedPyro }} </span>
                    </div>
                </div>
            </div>

            <!-- Generate Characters Panels -->
            <div class="board_wrapper gap-2">
                <div class="overview_board gap-05">
                    <p-card
                        *ngFor="let character of characters"
                        [ngClass]="selectCharacterCSS(character)"
                        (click)="toggleSelection(character)"
                    >
                        <div>
                            <img src="{{ character.image_src }}" alt="" />
                        </div>
                        <h4>{{ character.name }}</h4>
                    </p-card>
                </div>
            </div>
        </form>
    </div>

    <!-- Safety question before Delete-->
    <div *ngIf="currentSection === 'delete'" class="safety_question_wrapper">
        <h2>Are you sure you want to delete {{ currentProfile.name }}?</h2>
        <div class=".row gap-05">
            <p-button
                label="Yes"
                icon="pi pi-trash"
                iconPos="right"
                severity="danger"
                (click)="deleteProfile()"
            ></p-button>
            <p-button
                label="No"
                icon="pi pi-undo"
                severity="secondary"
                (click)="cancel()"
            ></p-button>
        </div>
    </div>
</div>
