.wrapper {
    padding: 20px;
    margin-inline: 20px;

}

.router-outlet {
    width: 100%;
    min-height: 500px;
}

@media(max-width:1000px){
    .wrapper{
        padding: unset;
        margin-inline: unset;
    }
}
