<div class="team_randomizer_display" *ngIf="charactersToDisplay?.length > 0">
    <div *ngFor="let profile of charactersToDisplay">
        <h2>{{ profile.userName }}</h2>
        <div>
            <p-card
                *ngFor="let character of profile.characters"
                class="character_card"
            >
                <div *ngIf="character.image_src">
                    <img
                        [src]="character.image_src"
                        [alt]="'Image of ' + character.name"
                    />
                </div>
                <h4>{{ character.name }}</h4>
            </p-card>
            <p-card
                *ngFor="
                    let card of getNrMaxCharacters(
                        nrOfCharacters,
                        profile.characters.length
                    )
                "
                class="character_card"
            >
                <div>No other character fits the criterias</div>
                <!-- Your card content here -->
            </p-card>
        </div>
    </div>
</div>

<p-accordion
    [(activeIndex)]="activeIndex"
    [multiple]="true"
    class="accordation_wrapper"
    expandIcon="pi pi-plus"
    collapseIcon="pi pi-minus"
>
    <div>
        <p-button (click)="toogleAccordation()">
            <span *ngIf="!toogleAccordationBoolean" class="pi pi-list">
                Open All Tabs</span
            >
            <span *ngIf="toogleAccordationBoolean" class="pi pi-sort-up">
                Close All Tabs</span
            >
        </p-button>
    </div>
    <form
        [formGroup]="selectorForm"
        (ngSubmit)="$event.preventDefault(); submitForm()"
    >
        <div
            class="dinamic_wrapper get_team_btn"
            *ngIf="charactersToDisplay.length !== 0 || toogleAccordationBoolean"
        >
            <p-button
                label="Get Random Team"
                class="btn btn-primary"
                icon="pi pi-users"
                type="submit"
                [disabled]="selectorForm.invalid"
            >
            </p-button>
        </div>
        <!-- Tab 1 - Traveler Name -->
        <p-accordionTab header="Profiles" iconPos="end">
            <div formArrayName="profiles" class="dinamic_wrapper">
                <div class="dinamic_randering">
                    <div *ngFor="let profile of profiles; let i = index">
                        <label>
                            {{ profile.userName }}
                            <input
                                type="checkbox"
                                value="{{ profile.userName }}"
                                [formControlName]="i"
                                (change)="
                                    handleCheckboxChange(
                                        $event,
                                        'profiles',
                                        profile.userName
                                    )
                                "
                            />
                        </label>
                    </div>
                </div>
            </div>
        </p-accordionTab>

        <!-- Tab 2 - Elements -->
        <p-accordionTab header="Elements" iconPos="end">
            <div formArrayName="elements" class="dinamic_wrapper">
                <div class="dinamic_randering">
                    <div
                        *ngFor="let element of distinctElements; let i = index"
                    >
                        <label>
                            {{ element }}
                            <input
                                type="checkbox"
                                [formControlName]="i"
                                (change)="
                                    handleCheckboxChange(
                                        $event,
                                        'profiles',
                                        element
                                    )
                                "
                            />
                        </label>
                    </div>
                </div>
            </div>
        </p-accordionTab>

        <!-- Tab 3 - Weapons -->
        <p-accordionTab header="Weapons" iconPos="end">
            <div formArrayName="weapons" class="dinamic_wrapper">
                <div class="dinamic_randering">
                    <div *ngFor="let weapon of distinctWeapons; let i = index">
                        <label>
                            {{ weapon }}
                            <input type="checkbox" [formControlName]="i" />
                        </label>
                    </div>
                </div>
            </div>
        </p-accordionTab>

        <!-- Tab 4 - Stars -->
        <p-accordionTab header="Stars" iconPos="end">
            <div formArrayName="stars" class="dinamic_wrapper">
                <div class="dinamic_randering">
                    <div *ngFor="let star of distinctStars; let i = index">
                        <label>
                            {{ star }}
                            <input type="checkbox" [formControlName]="i" />
                        </label>
                    </div>
                </div>
            </div>
        </p-accordionTab>

        <!-- Tab 5 - Location -->
        <p-accordionTab header="Location" iconPos="end">
            <div formArrayName="locations" class="dinamic_wrapper">
                <div class="dinamic_randering">
                    <div
                        *ngFor="
                            let location of distinctLocations;
                            let i = index
                        "
                    >
                        <label>
                            {{ location }}
                            <input type="checkbox" [formControlName]="i" />
                        </label>
                    </div>
                </div>
            </div>
        </p-accordionTab>

        <!-- Tab 6 - Genres -->
        <p-accordionTab header="Genre" iconPos="end">
            <div formArrayName="genres" class="dinamic_wrapper">
                <div class="dinamic_randering">
                    <div *ngFor="let genres of distinctGenres; let i = index">
                        <label>
                            {{ genres }}
                            <input type="checkbox" [formControlName]="i" />
                        </label>
                    </div>
                </div>
            </div>
        </p-accordionTab>

        <!-- Tab 7 - Heights -->
        <p-accordionTab header="Height" iconPos="end">
            <div formArrayName="heights" class="dinamic_wrapper">
                <div class="dinamic_randering">
                    <div *ngFor="let height of distinctHeights; let i = index">
                        <label>
                            {{ height }}
                            <input type="checkbox" [formControlName]="i" />
                        </label>
                    </div>
                </div>
            </div>
        </p-accordionTab>

        <!-- Tab 8 - Archon -->
        <p-accordionTab header="Archons Only" iconPos="end" class="mb-3">
            <div class="dinamic_wrapper accordation_tabs">
                <label>
                    <input type="checkbox" formControlName="archon" />
                    Archons Only
                </label>
            </div>
        </p-accordionTab>

        <!-- Tab 9 - Nr of characters per account-->
        <p-accordionTab header="Nr of characters" iconPos="end" class="mb-3">
            <div class="dinamic_wrapper accordation_tabs">
                <div class="flex align-items-center">
                    <p-radioButton
                        formControlName="nrOfCharacters"
                        name="nrOfCharacters"
                        [value]="2"
                        inputId="2"
                    />
                    <label for="ingredient1" class="ml-2"> 2 </label>
                </div>

                <div class="flex align-items-center">
                    <p-radioButton
                        formControlName="nrOfCharacters"
                        name="nrOfCharacters"
                        [value]="4"
                        inputId="4"
                    />
                    <label for="ingredient2" class="ml-2"> 4 </label>
                </div>
            </div>
        </p-accordionTab>

        <div
            class="dinamic_wrapper get_team_btn"
            *ngIf="charactersToDisplay.length === 0"
        >
            <p-button
                label="Get Random Team"
                class="btn btn-primary"
                icon="pi pi-users"
                type="submit"
                [disabled]="selectorForm.invalid"
            >
            </p-button>
        </div>
    </form>
</p-accordion>
